@use '../../../../styles/functions' as *;
@use '../../../../styles/variables' as *;

.system-admin-home {
    max-width: $system-container-max-width;
    padding: 24px;

    h1 {
        font-size: pxToRem(32);
        line-height: pxToRem(40);
        margin: 8px 0 16px;
    }
}
