@use '../../../styles/variables' as *;

.main-layout {
    background: linear-gradient(
        129deg,
        var(--color-page-gradient-start) 8%,
        var(--color-page-gradient-middle) 46%,
        var(--color-page-gradient-end) 92%
    );

    &__content {
        width: min(100%, $system-container-max-width);
        padding: 75px 16px 100px;
        box-sizing: border-box;
        margin: auto;
    }
}

@media (width >= $breakpoint-lg) {
    .main-layout__content {
        padding-bottom: 50px;
        padding-top: 90px;
    }
}
