@use '../../../../styles/functions' as *;

.account-menu-content {
    min-width: 0;
    color: var(--color-text-primary);
}

.account-menu-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2px 8px 8px;
    border-bottom: 1px solid rgb(90 100 128 / 14%);

    h2 {
        margin: 0;
        font:
            800 #{pxToRem(18)}/ 1.3 Nunito,
            sans-serif;
    }
}

.account-menu-content__resident {
    display: flex;
    align-items: center;
    padding: 14px 8px;
    gap: 12px;

    p {
        margin: 0;
    }

    p:first-child {
        font:
            700 #{pxToRem(14)}/ 1.25 Nunito,
            sans-serif;
    }

    p:last-child {
        margin-top: 3px;
        color: var(--color-text-secondary);
        font:
            400 #{pxToRem(12)}/ 1.2 Inter,
            sans-serif;
    }
}

.account-menu-content__avatar {
    display: flex;
    padding: 8px;
    place-items: center;
    background: var(--color-primary);
    border-radius: 50%;
    color: white;
}

.account-menu-content__logout {
    width: 100%;
    color: var(--color-secondary);
    text-transform: uppercase;
}
